.container_TrendList {
  padding: 10px;
  flex-direction: column;
  align-items: start;
  width: 400px;
  gap: 20px;
  display: none;
}
.searchIn {
  border-radius: 12px;
  height: 30px;
  background-color: #eaeff1;
}
.contain_Trend {
  padding: 10px;
  height: 100vh;
  border: 1px solid lightgray;
  background-color: #eaeff1;
}
.Trend_Title {
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  .container_TrendList {
    display: flex;
  }
}
