.MessageItem {
  border-bottom: 1px solid lightgrey;
  padding: 12px;
}
.MessageItem:hover {
  background-color: lightgray;
  transition: all 0.35s;
}

.MessageItem img {
  width: 50px;
  height: 50px;
}

.MessageItem__photo {
  background-color: #01b5f180;
  border-radius: 100%;
}

.MessageItem__content {
  font-size: 0.9rem;
  padding: 0 12px;
}

.user {
  font-weight: bold;
}

.email {
  color: rgb(172, 172, 172);
  font-size: 0.9rem;
}

.MessageItem__content--icons {
  display: flex;
  justify-content: space-between;
}

.MessageItem__content--icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.iconChat {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}
.iconChat:hover {
  background-color: rgb(57, 190, 251);
  transition: all 0.35s;
}
.iconArrow {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}
.iconArrow:hover {
  background-color: rgba(18, 235, 141, 0.793);
  transition: all 0.35s;
}
.iconHeart {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}
.iconHeart:hover {
  background-color: red;
  transition: all 0.35;
}
.iconUpload {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}
.iconUpload:hover {
  background-color: rgb(69, 194, 252);
  transition: all 0.35s;
}
